.anima-me {
    width: 120px;
    height: 120px;
    margin: 2px;
    border-radius: 5px;
    transform: scale(0);
}

ion-header::after {
    background-image: none;
}

ion-toolbar {
    --background: #d37474;
}

ion-title {
    text-align: center;
    font-size: 28px;
    color: #fff;
}